// Standard Variables

$bodyFont: Helvetica, sans-serif;
$bodyColor: #333;

$linkColor: #7AA6B6;
$linkVisitedColor: darken($linkColor, 10%);
$linkHoverColor: lighten($linkColor, 10%);

$borderColor: #ddd;

