// Markup and generation from Twitter Bootstrap
// Added '.grid-' prefix


@mixin grid-column {
  display: block;
  float: left;
  min-height: 28px;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
  @include box-sizing;
}

@mixin unset-grid {
  width: auto;
  margin: 0;
  float: none;
}

.grid-container,
.grid-container-fluid {
  width: 90%;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  @include clearfix;
}

.grid-row {
  width: 100%;
  @include clearfix;
}

.grid-col,
[class*="grid-span"] {
  @include grid-column;
}

[class*="grid-span"]:first-child {
  margin-left: 0;
}

@mixin grid-span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}

@mixin grid-span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}

@mixin grid-span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}

@mixin grid-span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}

@mixin grid-span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}

@mixin grid-span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}

@mixin grid-span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}

@mixin grid-span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}

@mixin grid-span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}

@mixin grid-span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}

@mixin grid-span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}

@mixin grid-span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}

.grid-span12 {
  @include grid-span12;
}

.grid-span11 {
  @include grid-span11;
}

.grid-span10 {
  @include grid-span10;
}

.grid-span9 {
  @include grid-span9;
}

.grid-span8 {
  @include grid-span8;
}

.grid-span7 {
  @include grid-span7;
}

.grid-span6 {
  @include grid-span6;
}

.grid-span5 {
  @include grid-span5;
}

.grid-span4 {
  @include grid-span4;
}

.grid-span3 {
  @include grid-span3;
}

.grid-span2 {
  @include grid-span2;
}

.grid-span1 {
  @include grid-span1;
}

